<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    html {
        background-image: url("/Users/gianlucasabatini/Documents/GitHub/sample_site/lol.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color:darkred;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 40pt;
    }

    p {
        color: rgb(46, 40, 80);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18pt;
        font-weight: 1000;
        background-color: wheat;
        border: 5px solid sienna;
    }
    a:hover {color: red;}
    a {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(46, 40, 80);
    }
</style>

<div>
    <h1>Welcome!</h1><br>
    <p>Use this hub will link you to the Discord channels for each of our labs
    <br><br><a href="https://discord.com/channels/883045046029516880/918246203341287475">Laboratory 1</a>
    <br><br><a href="https://discord.com/channels/883045046029516880/918246228158976071">Laboratory 2</a>
    <br><br><a href="https://discord.com/channels/883045046029516880/918246324846067753">Laboratory 3 & 4</a>
    <br><br>{{ count }} students have made use of this site.</p>
</div>
